gevent==1.1.0
gipc
CodernityDB
leveldb
lmdb
click
decorator
wheel
pyyaml
werkzeug
ipython>=5.4.0,<6.0.0
statistics
requests
rlp>=0.5.1,<0.6.0
devp2p>=0.8.0
pbkdf2
scrypt
pexpect
pyelliptic==1.5.7
tinyrpc[gevent,httpclient,jsonext,websocket,wsgi]
pycryptodome==3.4.6
future
https://github.com/ethereum/serpent/tarball/develop
https://github.com/ethereum/pydevp2p/tarball/develop
ethereum==2.0.5
